header .logo {
    margin: 5vh 0 0 0;
    height: 30vh;
    background: transparent url('../img/logo.png') no-repeat center center;
    background-size: contain;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vh;
    margin: 2vh 0 0 0;
}

header p {
    text-align: center;
    font-size: 140%;
}

header small {
    display: block;
    text-align: center;
}

.workshops, .contribute {
    padding: 0;
    margin: 40px auto;
    max-width: 600px;
}

.workshops ul {
    padding: 0;
    margin: 0;
}

.workshops ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.workshops ul li a {
    background-color: #3379b3;
    border-radius: 5px;
    display: block;
    padding: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    text-decoration: none;
}

.workshops ul li p {
    font-weight: normal;
}

.workshops ul li code {
    clear: both;
    margin: 10px 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    padding: 10px;
    background-color: #eee;
    display: block;
}
