<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PySchool</title>
        <meta name="description" content="PySchool">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <script src="js/vendor/modernizr.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">{{ gettext('[English]') }}</a></li>
                    <li><a href="index.es.html">{{ gettext('[Spanish]') }}</a></li>
                </ul>
            </nav>
            <div class="logo"></div>
            <h1>PySchool</h1>
            <p>{{ gettext('Stories to learn Python stuff.') }}</p>
            <small>
              {{
                  gettext('Inspired by %(nodeschool_link)s')|
                  format(nodeschool_link='<a href="https://nodeschool.io/">NodeSchool</a>')
              }}
            </small>
        </header>
        <section class="workshops">
            <ul>
                <li>
                    <a href="https://github.com/pyschool/hipyschool">Hi Pyschool</a>
                    <code>pip install hipyschool</code>
                    <p>{{ gettext('Sample story (fork or copy to create your own story).') }}</p>
                </li>
                <li>
                    <a href="https://github.com/sophilabs/py101">Python 101</a>
                    <code>pip install py1010</code>
                    <p>{{ gettext('A Pyschool story for learning python essentials.') }}</p>
                </li>
                <li>
                    <a href="https://github.com/sophilabs/learnregex">Learn Regex</a>
                    <code>pip install learnregex</code>
                    <p>{{ gettext('Workshop for learning regular expressions using the commandline.') }}</p>
                </li>
            </ul>
        </section>

        <section class="contribute">
          <div class="contribute-logo"></div>

          <h2>{{ gettext('Contribute') }}</h2>

          <p><em>“{{ gettext('The only way to learn a new programming language is by writing programs in it.') }}”</em></p>
          <p>― <a href="https://wikipedia.org/wiki/Dennis_Ritchie">Dennis Ritchie</a></p>
          <p>{{ gettext('Pyschool could always use more stories, whether as specific python features, existing libraries, programming concepts, or even programming concepts not specific to Python itself like event handling, threading and such. New stories
          	are always welcome :)') }}
          </p>

          <a name="user-content-get-started"></a>
          <h3>
          	<a id="user-content-get-started" class="anchor" href="#get-started" aria-hidden="true">
          	</a>
          	{{ gettext('Get Started!') }}
          </h3>
          <p>{{ gettext('Ready to write your story? Here\'s how to set up a story for local development. All stories derive from the base %(story_link)s library.') |
            format(story_link='<a href="https://github.com/pyschool/story">Story</a>') }}
          </p>
          <ol>
          	<li>{{ gettext('Fork/clone/copy the %(hipyschool_link)s or the %(hipy101_link)s repo on Github. Those a good examples of simple stories to begin with.')|
            format(
              hipyschool_link='<a href="https://github.com/pyschool/hipyschool">hipyschool</a>',
              hipy101_link='<a href="https://github.com/sophilabs/py101">py101</a>'
            ) }}
          	</li>
          	<li>
          		<p>{{ gettext('Install your local copy into a virtualenv. Assuming you have virtualenvwrapper installed, this is how you could set up your copy for local development:') }}
          		</p>
          		<pre>$ mkvirtualenv my_python_story
$ cd my_python_story/
$ python setup.py develop</pre>
          	</li>
          	<li>{{ gettext('Create a module for your <em>Story</em>. For example <code>mystory/__init__.py</code>.') }}
          		{{ gettext('Define the <code>name</code>, <code>title</code> and <code>adventures</code> variables.') }}
          		{{ gettext('You will have to use the <code>gettext()</code> function from <code>story.translation</code> to receive translations. More on that below.') }}
          	</li>
          	<li>
          		{{ gettext('Create one or more <em>Adventures</em>. A story is a collection of one or more adventures') }}
          		<ol>
          			<li>{{ gettext('Create a module for your adventure for example <code>mystory/myfirstadventure</code>') }}</li>
          			<li>{{ gettext('Create the <code>README.rst</code> file describing your adventure in the previous folder') }}</li>
          			<li>{{ gettext('(Optional) Make an Spanish translation. You must name it <code>README.es.rst</code>') }}</li>
          			<li>{{ gettext('In the <code>__init__.py</code> file define a class called <code>Adventure</code>, that derives from %(baseadventure_link)s.')|
                      format(baseadventure_link='<a href="https://github.com/pyschool/story/blob/master/story/adventures.py">BaseAdventure</a>') }}
          			</li>
          		</ol>
          	</li>
          	<li>
          		<p>{{ gettext('Since the <code>gettext()</code> function relies on %(pybabel_link)s, so you will have to initialize the translation by running:') |
                  format(pybabel_link='<a href="http://babel.pocoo.org/en/latest/">PyBabel</a>') }}
          		</p>
          		<pre>$ make msg-init
$ make msg-extract</pre>
          		<p>{{ gettext('You should see several files for each language in <code>mystory/locale/</code> corresponding for the usages of the <code>gettext()</code> function.') }}
                {{ gettext('If the command fail, try again.') }}
          		</p>
          	</li>
          	<li>
          		<p>{{ gettext('(Optional) Modify and add translations in the locale files and then run:') }}</p>
          		<pre>$ make msg</pre>
          	</li>
          	<li>
          		<p>{{ gettext('It is recommended to create some unit tests for checking your solutions, check that your changes pass flake8, tox, and the unit tests:') }}
          		</p>
          		<pre>$ flake8 my_python_story tests
$ python setup.py test or py.test
$ tox</pre>
          		<p>{{ gettext('To get flake8 and tox, just pip install them into your virtualenv.') }}</p>
          	</li>
          	<li>
          		<p>{{ gettext('Commit your changes and push your branch to GitHub:') }}</p>
          		<pre>$ git add .
$ git commit -m "Your detailed description of your changes."
$ git push origin</pre>
          	</li>
          	<li>
          		<p>{{ gettext('%(publish_link_prefix)s Publish</a> your package in pip, so it is available publicly ') |
                format(publish_link_prefix='<a href="http://peterdowns.com/posts/first-time-with-pypi.html">') }}</p>
          	</li>
          	<li>{{ gettext('%(letusknow_link_prefix)s Let us know</a> or submit a pull request to the Pyschool GitHub website to update our website to include your story.') |
                format(letusknow_link_prefix='<a href="https://twitter.com/pyschool">')
                }}</li>
          </ol>
        </section>

       <section class="organize">
         <h2>{{ gettext('Organize') }}</h2>

         <div class="organize-logo"></div>

         <p><em>“{{ gettext('Education is for improving the lives of others and for leaving your community and world better than you found it') }}”</em></p>
         <p>― <a href="https://wikipedia.org/wiki/Marian_Wright_Edelman">Marian Wright Edelman</a></p>

         <p>{{ gettext('PySchool is a fully community driven effort and is 100% open source. This means that anyone can use the PySchool materials and/or host an event. There\'s a lot of flexibility in the specifics of running a PySchool event. The only expectations for event hosts is that events be not-for-profit (free or low cost) and that governance of events should have an open membership model.') }}</p>

         <p>{{ gettext('To ask and answer questions about authoring Pyschool content, check out our %(pyschool_link)s discussion group. Don\'t hesitate to send us an %(email_link)s if you can\'t find the answer you\'re looking for.') |
            format(
              pyschool_link='<a href="https://owu.slack.com/">Pyschool</a>',
              email_link='<a href="mailto:pyschool@sophilabs.com">email</a>'
              ) }}
        </p>
       </section>

        <footer>
            <nav>
                <ul>
                    <li><a href="https://github.com/pyschool">{{ gettext('Contribute') }}</a></li>
                    <li><a href="https://twitter.com/pyschool">@pyschool</a></li>
                    <li><a href="https://github.com/pyschool/organization">{{ gettext('Organize') }}</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
