<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PySchool</title>
        <meta name="description" content="PySchool">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <script src="js/vendor/modernizr.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="index.html">[{{ gettext('English') }}]</a></li>
                    <li><a href="index.es.html">{{ gettext('Spanish') }}</a></li>
                </ul>
            </nav>
            <div class="logo"></div>
            <h1>PySchool</h1>
            <p>{{ gettext('Stories to learn Python stuff.') }}</p>
            <small>
              {{
                  gettext('Inspired by %(nodeschool_link)s')|
                  format(nodeschool_link='<a href="https://nodeschool.io/">NodeSchool</a>')
              }}
            </small>
        </header>
        <div class="workshops">
            <ul>
                <li>
                    <a href="https://github.com/pyschool/hipyschool">Hi Pyschool</a>
                    <code>pip install hipyschool</code>
                    <p>{{ gettext('Sample story (fork or copy to create your own story).') }}</p>
                </li>
                <li>
                    <a href="https://github.com/sophilabs/py101">Python 101</a>
                    <code>pip install py1010</code>
                    <p>{{ gettext('A Pyschool story for learning python essentials.') }}</p>
                </li>
                <li>
                    <a href="https://github.com/sophilabs/learnregex">Learn Regex</a>
                    <code>pip install learnregex</code>
                    <p>{{ gettext('Workshop for learning regular expressions using the commandline.') }}</p>
                </li>
                <li>
                    <a href="https://github.com/sophilabs/unchaindjango">Unchain Django</a>
                    <p>{{ gettext('Learn Django [work in progress].') }}</p>
                    <code>pip install unchaindjango</code>
                </li>
            </ul>
        </div>
        <footer>
            <nav>
                <ul>
                    <li><a href="https://github.com/pyschool">{{ gettext('Contribute') }}</a></li>
                    <li><a href="https://twitter.com/pyschool">@pyschool</a></li>
                    <li><a href="https://github.com/pyschool/organization">{{ gettext('Organize') }}</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
