@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,700);

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  text-align: center;
}

pre {
  font-size: 12px;
}

header {
    background-color: #eee;
    padding: 30px;
}

header nav  {
    padding: 0;
}

header nav ul {
    margin: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    text-transform: uppercase;
}

header nav ul li a {
    text-transform: uppercase;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: black;
}

footer {
    padding: 30px;
}

footer nav  {
    padding: 0;
}

footer nav ul {
    margin: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
    list-style-type: none;
}

footer nav ul li a {
    text-transform: uppercase;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: black;
}

code {
  font-size: 12px;
}
