@import 'normalize';
@import 'base';

header .logo {
    margin: 5vh 0 0 0;
    height: 30vh;
    background: transparent url('../img/logo.svg') no-repeat center center;
    background-size: contain;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 10vh;
    margin: 2vh 0 0 0;
}

header p {
    text-align: center;
    font-size: 140%;
}

header small {
    display: block;
    text-align: center;
}

.workshops, .contribute, .organize, .try {
    padding: 0;
    margin: 40px auto;
    max-width: 600px;
}

.workshops ul {
    padding: 0;
    margin: 0;
}

.workshops ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.workshops ul li a {
    background-color: #3379b3;
    border-radius: 5px;
    display: block;
    padding: 10px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    text-decoration: none;
}

.workshops ul li p {
    font-weight: normal;
}

.workshops ul li code {
    clear: both;
    margin: 10px 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    padding: 10px;
    background-color: #eee;
    display: block;
}

.organize-logo {
    margin: 5vh 0 0 0;
    height: 30vh;
    background: transparent url('../img/people.svg') no-repeat center center;
    background-size: contain;
}

.contribute-logo {
    margin: 5vh 0 0 0;
    height: 30vh;
    background: transparent url('../img/launch.svg') no-repeat center center;
    background-size: contain;
}

.try-logo {
    margin: 5vh 0;
    height: 20vh;
    background: transparent url('../img/try.png') no-repeat center center;
    background-size: contain;
}

.terminal-shell {
    background-color: #eee;
    font-size: 17px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    padding: 10px 20px 0;
    margin: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #000;
    width: 100%;
    box-sizing: border-box;
}

.terminal-path:before {
    content: "~";
    color: #71cfee;
    margin-right: 10px;
}

.terminal-prompt:before {
    content: "$";
    color: #d74d52;
    margin-right: 10px;
}

.terminal-header {
  background-color: #3379b3;
  height: 25px;
  display: block;
  border: 1px solid #000;
  border-bottom-width: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
